body{
  margin: 0 0 0 0;
  background-color: #2b363d;
  font-family: input-mono-narrow, monospace;
}

.content{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

